<ion-side-menus enable-menu-with-back-views="true">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-positive" align-title='center'>
            <ion-nav-title>
                FireBase App
            </ion-nav-title>
            <ion-nav-buttons side="left">
                <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
            </ion-nav-buttons>
        </ion-nav-bar>

        <ion-nav-view name="mainContent" animation="slide-left-right"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left">
        <header class="bar bar-header bar-positive">
            <h1 class="title">Fire Base</h1>
        </header>
        <ion-content class="has-header">
            <ion-list>
                <ion-item nav-clear menu-close ui-sref="app.home">
                    <i class='ion-ios-home'></i>
                </ion-item>
                <ion-item nav-clear menu-close>
                    <i class="ion-alert-circled"></i>
                </ion-item>
                <ion-item nav-clear menu-close>
                    <i class="ion-cash"></i>
                </ion-item>
                <ion-item nav-clear menu-close>
                    <i class="ion-ios-world"></i>
                </ion-item>
                <ion-item nav-clear menu-close>
                    <i class="ion-locked"></i>
                </ion-item>
                <ion-item nav-clear menu-close>
                    <i class="ion-power"></i>
                </ion-item>
            </ion-list>
    </ion-side-menu>

</ion-side-menus>