<ion-view>
    <ion-content class="has-header">
        <form name="vm.myForm" ng-submit="vm.submit()" novalidate>

            <ion-list>
                <label class="item item-input item-floating-label">
                    <span class="input-label">Topic</span>
                    <input type="text" name="topic" placeholder="Topic" required ng-model="vm.post.topic">
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">Description</span>
                    <textarea name="description" placeholder="Description" required ng-model="vm.post.description"></textarea>
                </label>
            </ion-list>
            <button type="submit" class="button button-block button-positive">Post</button>

        </form>
        <div>{{vm.postArray}}</div>
        <div class="list card" ng-repeat="postItem in vm.postArray">
            <div>{{postItem}}</div>
            <div class="item item-avatar">
                <img src="{{userImg}}">
                <h2>Welcome {{userName}}</h2>
            </div>

            <div class="item item-body">
                <p>
                    This is a "Facebook" styled Card. The header is created from a Thumbnail List item, the content is from a card-body consisting of an image and paragraph text. The footer consists of tabs, icons aligned left, within the card-footer.
                </p>
                <p>
                    <a href="#" class="subdued">1 Like</a>
                    <a href="#" class="subdued">5 Comments</a>
                </p>
            </div>

            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item" href="#">
                    <i class="icon ion-thumbsup"></i> Like
                </a>
                <a class="tab-item" href="#">
                    <i class="icon ion-chatbox"></i> Comment
                </a>
                <a class="tab-item" href="#">
                    <i class="icon ion-share"></i> Share
                </a>
            </div>

        </div>
    </ion-content>
</ion-view>