<script type="text/ng-template" id="error-messages">
    <div ng-message="required">Required</div>
    <div ng-message="minlength">{{'MINIMUM_LENGTH_VALIDATION' | translate}}</div>
    <div ng-message="maxlength">{{'MAXIMUM_LENGTH_VALIDATION' | translate}}</div>
    <div ng-message="pattern">{{'PATTERN_MISMATCH' | translate}}</div>
    <div ng-message="samepassword">{{'SAME_PASSWORD' | translate}}</div>
    <div ng-message="mismatch">{{'PASSWORD_MISMATCH' | translate}}</div>
    <div ng-message="invalidname">{{vm.invalidChar}}{{'INVALID_NAME' | translate}}</div>
</script>
<ion-view>
    <ion-content class="has-header">
        <form name="vm.myForm" ng-submit="vm.submit()" novalidate>
            <ion-list>
                <label class="item item-input item-floating-label">
                    <span class="input-label">Topic</span>
                    <input type="text" name="topic" placeholder="Topic" required ng-model="vm.post.topic">
                </label>

                <span ng-show="vm.myForm.topic.$error && vm.myForm.$submitted" ng-messages="vm.myForm.topic.$error" style="color:red" role="alert">
                    <span ng-messages-include="error-messages"></span>
                </span>

                <label class="item item-input item-floating-label">
                    <span class="input-label">Description</span>
                    <textarea name="description" placeholder="Description" required ng-model="vm.user.description">
                </label>
                <span ng-show="vm.myForm.description.$error && vm.myForm.$submitted" ng-messages="vm.myForm.description.$error" style="color:red" role="alert">
                    <span ng-messages-include="error-messages"></span>
                </span>
                <div class="row row-full">
                    <div class="col col-full">
                        <button type="submit" class="button button-block button-positive">Post</button>
                    </div>
                </div>

        </form>
    </ion-content>
</ion-view>